.DS_Store
site/
plugins/*/targets/*/build/
plugins/*/targets/*/sim/
plugins/*/targets/*/*.nts1mkiiunit
plugins/*/targets/*/*.ntkdigunit
plugins/*/targets/*/*.prlgunit
plugins/*/targets/*/*.mnlgxdunit
plugins/*/targets/*/*.nts3unit
plugins/*/targets/*/*.drmlgunit
plugins/*/targets/*/*.mk2unit
*.elf
*.map
*.hex
*.bin
*.dmp
*.list
plugins/airhorn/assets/*.wav
plugins/airhorn/assets/*.ogg
plugins/airhorn/assets/*.mp3
