.DS_Store
dist/
plugins/*/targets/*/build/
plugins/*/targets/*/sim/
plugins/*/targets/*/*.nts1mkiiunit
plugins/*/targets/*/*.ntkdigunit
plugins/*/targets/*/*.prlgunit
plugins/*/targets/*/*.mnlgxdunit
plugins/*/targets/*/*.nts3unit
plugins/*/targets/*/*.drmlgunit
plugins/*/targets/*/*.mk2unit
*.elf
*.map
*.hex
*.bin
*.dmp
*.list
plugins/airhorn/assets/*.wav
plugins/airhorn/assets/*.ogg
plugins/airhorn/assets/*.mp3
plugins/wavslice/assets/loop.wav
plugins/wavslice/dsp/wavslice_pcm.h
website/node_modules/
website/dist/
website/.vite/
plugins/*/scripts/render_offline_test
